# Swift Package Manager
.build/

# Xcode
*.xcworkspace
*.xcodeproj/
xcuserdata/
*.xcuserstate
*.xcuserdatad/
DerivedData/

# VSCode
.vscode/

# Build artifacts
*.o
*.dSYM
*.swp
*.swo
*.tmp

# SwiftPM artifacts
*.swiftmodule
*.swiftdoc
*.swiftsourceinfo

# Logs
*.log

# macOS system files
.DS_Store

# Other files
*.zip
*.tar.gz
*.tgz
*.tgz
